/* Colors */
:root {
    --dark-grey: #292b2c;
    --whitish: #dbdbdb;
    --yellowish: #ffdf00;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center
}

header,
footer {
    position: fixed;
    color: var(--whitish);
    background-color: var(--dark-grey);
    width: inherit;
    max-width: inherit;
    padding: 1rem;
}

header {
    top: 0
}

footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    height: 3vh;
    width: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: inherit;
    max-width: 100%;
    height: 100%;
    padding: 8rem 1rem
}

main > div {
    margin: 50px 0px;
    border: 1px solid;
    height: 30vh;
}

/* nav bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between
}

nav a {
    color: var(--whitish)
}

nav a:hover {
    background-color: yellow
}

.header_logo img {
    width: 70%;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px
}

.github_link a {
    padding-right: 8px
}

